.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    min-width: 100%;
    
}

.active {
    background-color: gray;

}

.editInput {
    outline: none;
    background-color: transparent;
    color: white;
    border: none;
}

.arrow {
    transition: all 0.2s ease;
}

.rotate90 {
    transform: rotate(90deg);
    transition: all 0.2s ease;
    margin-top: .5rem;
}